*,
*::before,
*::after {
  box-sizing: border-box;
}
.container-wink,
.backdrop-wink,
.textarea-wink {
  width: 70vw;
  height: 70vh;
}

.highlights-wink,
.textarea-wink {
  padding: 10px;
  font: 20px/28px 'Open Sans', sans-serif;
  letter-spacing: 1px;
}

.container-wink {
  display: block;
  margin: 0 auto;
}

.backdrop-wink {
  position: absolute;
  z-index: 1;
  border: 2px solid #685972;
  background-color: #fff;
  overflow: auto;
  pointer-events: none;
}

.highlights-wink {
  white-space: pre-wrap;
  word-wrap: break-word;
  color: transparent;
}

.textarea-wink {
  display: block;
  position: absolute;
  z-index: 2;
  margin: 0;
  border: 2px solid #74637f;
  border-radius: 0;
  color: #444;
  background-color: transparent;
  resize: none;
}

mark {
  border-radius: 3px;
  color: transparent;
  background-color: #44555c;
  letter-spacing: 1px;
}
