.checkIncorrectPunctuationSpacing {
  background-color: #cf8700;
}

.checkIncorrectContractions {
  background-color: transparent;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: #3f4c96;
}

.checkFirstWordOfSentence {
  background-color: transparent;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: #f037a5;
}

.checkUseOfAdverbs {
  background-color: #f6d167;
}

.checkUseOfLongSentence-Long {
  background-color: #00ffdd;
}

.checkUseOfLongSentence-VeryLong {
  background-color: #3700ff;
}

.checkDuplicateWords {
  background-color: transparent;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: #ffbaba;
}

.avoidAbusiveWords {
  background-color: #cbff5b;
}

.useConsistentSpellings {
  background-color: #ffd35ba2;
}

.avoidConstructs {
  background-color: #71b405;
}

.highlightInterjectionsWithoutPunctuations {
  background-color: #a0937d;
}

.highlightWordiness {
  background-color: #b4846c;
}

.highlightUseOfOxymoron {
  background-color: #fff542;
}

.avoidStartingWithConjunctions {
  background-color: transparent;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: #d49fff;
}

.useConsistentApostrophe {
  background-color: #a59b89;
}

.avoidRedundantConstruct {
  background-color: #b9ff68;
}