@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 30px;
  background-color: #282c34;
}

.navbar a.logo {
  font-family: 'Aleo', serif;
  font-weight: 700;
  font-size: 30px;
}

.navbar {
  box-sizing: border-box;
  height: 64px;
  background-color: #222;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  display: flex;
  justify-content: space-between;
}

.navbar-header {
  font-weight: bold;
  font-size: 30px;
}

.navbar-header a img {
  height: 24px;
}

.navbar a {
  color: #fff;
  line-height: 60px;
  margin-left: 0;
  text-decoration: none;
}

.navbar a.navbar-brand {
  margin-left: 20px;
}

.navbar-right {
  margin: 0;
  line-height: 50px;
  list-style: none;
}

.navbar-right li {
  float: left;
  margin-right: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 20px;
  font-size: 15px;
  font-family: 'Aleo', serif;
  font-weight: 700;
  letter-spacing: 2px;
}

.container,
.backdrop,
textarea {
  width: 70vw;
  height: 75vh;
  float: left;
}

.highlights,
textarea {
  padding: 10px;
  font: 20px/28px 'Aleo', serif;
  font-weight: 400;
  letter-spacing: 1px;
}

.container {
  display: block;
  margin: 0 auto;
  -webkit-text-size-adjust: none;
  border-radius: 7px;
}

.container2 {
  display: block;
  margin: 0 auto;
  -webkit-text-size-adjust: none;
  width: 24vw;
  height: 75vh;
  float: right;
  background-color: white;
  border: 2px solid #685972;
  border-radius: 7px;
}

.backdrop {
  position: absolute;
  z-index: 1;
  border: 1px solid #685972;
  background-color: #fff;
  overflow: auto;
  pointer-events: none;
  border-radius: 7px;
  transition: transform 1s;
}

.highlights {
  white-space: pre-wrap;
  word-wrap: break-word;
  color: transparent;
  border-radius: 7px;
}

textarea {
  display: block;
  position: absolute;
  z-index: 2;
  margin: 0;
  border: 2px solid #74637f;
  border-radius: 7px;
  color: #444;
  background-color: transparent;
  overflow: auto;
  resize: none;
  transition: transform 1s;
}

mark {
  border-radius: 3px;
  color: transparent;
  background-color: #b1d5e5;
}

button {
  display: block;
  width: 300px;
  margin: 30px auto 0;
  padding: 10px;
  border: none;
  border-radius: 6px;
  color: #fff;
  background-color: #74637f;
  font: 18px 'Opens Sans', sans-serif;
  letter-spacing: 1px;
  appearance: none;
  cursor: pointer;
}

.perspective .backdrop {
  transform: perspective(1500px) translateX(-75px) rotateY(10deg) scale(0.9);
}

.perspective textarea {
  transform: perspective(1500px) translateX(105px) rotateY(10deg) scale(1.1);
}

textarea:focus,
button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #c6aada;
  border-radius: 7px;
}

.legend {
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 20px;
  font-size: 18px;
  font-family: 'Aleo', serif;
  font-weight: bold;
  margin: 5px 0;
}
.footer {
  /* border-top: 4px solid #6c307d; */
  box-sizing: border-box;
  height: 60px;
  background-color: #222;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.footer-header {
  font-weight: bold;
  font-size: 30px;
}

.footer-header a img {
  height: 24px;
}

.footer a {
  color: #fff;
  line-height: 60px;
  margin-left: 0;
  text-decoration: none;
  font-weight: 400;
  font-size: 14.5px;
}
.footer div {
  font-family: 'Aleo', serif;
  font-weight: 300;
  letter-spacing: 1.5px;
  font-size: 14px;
  margin-top: 5px;
}
.footer a.footer-brand {
  margin-left: 20px;
}

.footer-right {
  margin: 0;
  line-height: 50px;
  list-style: none;
}

.footer-right li {
  float: left;
  margin-right: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  /* padding-left: 20px; */
  font-size: 14px;
}

.container2 {
  padding: 10px 15px;
  background-color: #282c34;
  color: white;
}
.container2 p {
  font-family: 'Aleo', serif;
  font-size: 15.1px;
  color: white;
  display: inline-block;
  padding: 2px 5px 1px 5px;
  text-align: center;
  border-radius: 3px;
  margin: 8px 1px;
}
