@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 30px;
  background-color: #f0f0f0;
}

.navbar {
  border-top: 4px solid #6c307d;
  box-sizing: border-box;
  height: 64px;
  background-color: #222;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  display: flex;
  justify-content: space-between;
}

.navbar-header {
  font-weight: bold;
  font-size: 30px;
}

.navbar-header a img {
  height: 24px;
}

.navbar a {
  color: #fff;
  line-height: 60px;
  margin-left: 0;
  text-decoration: none;
}

.navbar a.navbar-brand {
  margin-left: 20px;
}

.navbar-right {
  margin: 0;
  line-height: 50px;
  list-style: none;
}

.navbar-right li {
  float: left;
  margin-right: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 20px;
  font-size: 14px;
}

.container,
.backdrop,
textarea {
  width: 1060px;
  height: 480px;
}

.highlights,
textarea {
  padding: 10px;
  font: 20px/28px 'Open Sans', sans-serif;
  letter-spacing: 1px;
}

.container {
  display: block;
  margin: 0 auto;
  transform: translateZ(0);
  -webkit-text-size-adjust: none;
}

.backdrop {
  position: absolute;
  z-index: 1;
  border: 2px solid #685972;
  background-color: #fff;
  overflow: auto;
  pointer-events: none;
  transition: transform 1s;
}

.highlights {
  white-space: pre-wrap;
  word-wrap: break-word;
  color: transparent;
}

textarea {
  display: block;
  position: absolute;
  z-index: 2;
  margin: 0;
  border: 2px solid #74637f;
  border-radius: 0;
  color: #444;
  background-color: transparent;
  overflow: auto;
  resize: none;
  transition: transform 1s;
}

mark {
  border-radius: 3px;
  color: transparent;
  background-color: #b1d5e5;
}

mark2 {
  border-radius: 3px;
  color: transparent;
  background-color: #e5b1b1;
}

button {
  display: block;
  width: 300px;
  margin: 30px auto 0;
  padding: 10px;
  border: none;
  border-radius: 6px;
  color: #fff;
  background-color: #74637f;
  font: 18px 'Opens Sans', sans-serif;
  letter-spacing: 1px;
  appearance: none;
  cursor: pointer;
}

.perspective .backdrop {
  transform: perspective(1500px) translateX(-75px) rotateY(10deg) scale(0.9);
}

.perspective textarea {
  transform: perspective(1500px) translateX(105px) rotateY(10deg) scale(1.1);
}

textarea:focus,
button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #c6aada;
}
